@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: Poppins, sans-serif;
    font-size: 1.05rem;
}

.overlay {
    position: relative;
}

@media only screen and (max-width: 1023px) {
    .overlay:after {
        content: " ";
        z-index: 29;
        display: block;
        height: 100%;
        top: 80px;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.5);
        pointer-events: none;
        position: fixed;
    }
}
tbody tr td:first-child {
    border-top-width: 1px;
}
/*
thead tr th:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
thead tr th:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
tbody tr td:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 0px;
}
tbody tr td:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 0px;
}

.table-resp {
    overflow-x: auto;
    max-width: 100%;
}
*/

.modal {
    transition: opacity 0.25s ease;
}

body.modal-active {
    overflow-x: hidden;
    overflow-y: visible !important;
}
